<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'index' class="navbar-brand"}}THAXTON AMBASSADOR'S CLUB{{/link-to}}
        </div>
        <div id="navbar" class="nav masthead-nav">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'track'}}Track{{/link-to}}</li>
            {{#if session.isAuthenticated}}
              <li>{{#link-to 'new-profile'}}Add Member{{/link-to}}</li>
              <li>{{#link-to 'moderate'}}Add Drinks{{/link-to}}</li>
              <li>{{#link-to 'new-user'}}New Admin{{/link-to}}</li>
              <li class="logout-text" {{action "signOut"}}>Logout</li>
            {{else}}
              <li>{{#link-to 'login'}}Login{{/link-to}}</li>

            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <div class="app-body">
    <div class="app-content">
      {{#if session.isAuthenticated}}
        <div class="current-user">
          <h4>Logged in as {{session.currentUser.email}}</h4>
        </div>
      {{/if}}
      {{outlet}}
    </div>
  </div>
