<div class="home-content">
  <h1>THAXTON SPEAKEASY</h1>
  <h3>AMBASSADOR'S CLUB</h3>
  <p>
    Thaxton Speakeasy, is a downtown, underground lounge, located in the lower
    level of the historic Thaxton Building.
    We are St. Louis' only password protected night spot.
    Thaxton Speakeasy is a strictly 21 years and older establishment.
  </p>
  <p>
    The Thaxton Ambassador's Club is for the speakeasy members who truly seek to
    enjoy everything the Thaxton has to offer. This exclusive club is only for
    those who have tried every cocktail on the menu. Ambassador Club members
    are rewarded with club member exclusive events.
  </p>
</div>
