<h1>NEW MEMBER</h1>
<div class="moderate-content">
  <form>
    <div class="form-group">
      <label>Username</label>
      {{input type="text" class="form-control" value=displayName
      placeholder= "Add Member..."}}
    </div>
    <button {{action 'addProfile'}} class="btn btn-primary">Submit</button>
  </form>
</div>
