<h1>MEMBERS</h1>
{{#if session.isAuthenticated}}
<div class="track-data">
  {{#each profiles as |profiles|}}
    <div class="well">
      <h4>{{profiles.displayName}}</h4>
      <p>{{profiles.profileId}}</p>
    </div>
  {{/each}}
</div>
{{/if}}
